<html>
<head>
	<title>Group Chat</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

	<script type="text/javascript" src="/socket.io/socket.io.js"></script>

	<script type="text/javascript">
		$(document).ready(function(){
			var socket = io.connect();

			var current_user;
			
			function get_name(){
				var new_user = prompt("Please enter your name..");
				current_user = new_user;
				socket.emit('create_user', {username:new_user});
			}

			get_name();

			socket.on('send_all', function(data){
				console.log(data);
				$('#chat').append(data.history);
			});

			socket.on('failed_name', function(data){
				get_name();
			});

			socket.on('send_new_message', function(data){
				$('#chat').append(data.new_message);
			});

			$('#message_box').submit(function(){
				var message = $('#message').val();
				console.log(chat);
				var current_message = '<p>' + current_user + 
				': ' + message + '</p>';
				$('#message').val('');
				$('#chat').append(current_message);
				socket.emit('send_message', {message: current_message});
				return false;
			});


		});
	</script>

	<link rel="stylesheet" href="/css/style.css">

</head>
<body>
	<div class='container'>
		<div id="errors">
		</div>
		<h1>HELLO THERE</h1>

		<div id="chat">
		</div>

		<form id="message_box">

			<input type="text" name="message" id="message">
			<input type="submit" id="submit" class="btn btn-primary btn-sm" placeholder="enter your message here...">
		</form>
	</div>

</body>
</html>